<div *ngIf="hero">
  <h2>{{hero.name|uppercase}} Details:</h2>
  <div><span>Id: </span>{{hero.id}}</div>
  <div>
    <label>Name: 
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
